#text_example_four {
    background-color: black;

    .home {
        position: relative;

        :global {
            .container {
                max-width: 1920px;
            }
        }

        .custom_row {
            display: flex;

            @media (max-width: 767px) {
                display: block;
            }

            .col_left {
                width: 25%;
                margin: 4rem 0;

                @media (max-width: 767px) {
                    width: 100%;
                    text-align: center;
                }

                h2 {
                    position: sticky;
                    top: 50vh;
                    font-size: 25px;
                    color: rgba(white, 0.6);
                }
            }
        }
    }

    .item {
        position: relative;
        z-index: 1;

        h3 {
            font-size: 20rem;
            line-height: 1;
            white-space: nowrap;
            color: white;
            text-transform: uppercase;

            @media (max-width: 1679px) {
                font-size: 16rem;
            }

            @media (max-width: 1479px) {
                font-size: 12rem;
                line-height: 2;
            }

            @media (max-width: 1199px) {
                font-size: 8rem;
                line-height: 1.5;
            }

            @media (max-width: 767px) {
                font-size: 5rem;
                text-align: center;
            }
        }
    }
}